{% extends "base.html" %}
{% block content %}
<h2>Add new text</h2>

<div class="col-sm-6">
<form action="" method="post" name="addbook">
    {{form.hidden_tag()}}
    
    <div class="form-group">
        <label for="title" class="control-label">Title</label>

            {{ form.title(id="title", class="form-control", placeholder="Text title", size="50") }}
        
    </div>
    
    <div class="form-group">
        <label>Text</label>
        {{ form.text(class="form-control") }}
    </div>
  
    <input type="submit" class="btn btn-success" value="Add">
</form>
</div>
{% endblock %}
