{% extends "base.html" %}
{% block content %}

{% if lines %}
<div class="container">
    <div class="row">
        {% if form %}
        <div class="col-lg-2">
            <form action="" method="post" name="addphrase">
                {{form.hidden_tag()}}
                <div class="form-group">
                    <label for="phrase" class="control-label">Phrase</label>
                    {{ form.phrase(id="phrase", class="form-control", placeholder="Add new phrase", size="50") }}
                </div>
                <div class="form-group">
                    <label for="tense" class="control-label">Tense of the phrase</label>
                    {{ form.tense(id="tense", class="form-control") }}
                </div>
                <input type="submit" class="btn btn-success col-xs-12" value="Add">
            </form>
        </div>
        {% endif %}
        <div class="text-holder col-lg-10">
            <p>
            {% for line in lines %}
                {% for word in line %}
                    <span class="choosable"> {{ word }} </span>
                    {% if not loop.last %}
                    {% endif %}
                {% endfor %}
                {% if not loop.last %}
                    <br />
                {% endif %}
            {% endfor %}
            </p>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}